<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Speedtester</title>
    <style>
        table, th, td {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th, td, p, input {
            font:14px Verdana;
        }
        th {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <input type="button" onclick="CreateTable()" value="Display Data" />
    <table>
        <thead>
            <th>Start Time</th>
            <th>Network Name</th>
            <th>Down Speed</th>
            <th>Up Speed</th>
            <th>Ping</th>
            <th>Run Time</th>
        </thead>
        <tbody id="table">
        </tbody>
    </table>

    <script>
        function CreateTable() {

            const table = document.getElementById("table");
            table.innerHTML = "";
            fetch("/data").then(res=>res.json()).then(res => {
                const items = res;  // Change this line to access the data directly
                items.forEach(item => {

                    const tr = document.createElement("tr");
                    ["Start time", "Network name", "Down speed", "Up speed", "Ping", "Run time"].forEach(label => {
                        const td = document.createElement("td");
                        td.innerText = item[label];
                        tr.appendChild(td);
                    });
                    table.appendChild(tr);

                });
            });
    }

    </script>
</body>
</html>
