<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Speedtester</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    </head>
<body>
    <h1>Isaac's Speed Tester</h1>
    <table>
        <thead>
            <th>Start Time</th>
            <th>Network Name</th>
            <th>Down Speed (b/s)</th>
            <th>Up Speed (b/s)</th>
            <th>Ping (ms)</th>
            <th>Run Time (s)</th>
        </thead>
        <tbody id="table">
        </tbody>
    </table>
    <input type="button" class="button" onclick="CreateTable()" value="Click Here To Display Data" />

    <script>
        function CreateTable() {

            const table = document.getElementById("table");
            table.innerHTML = "";
            fetch("/data").then(res=>res.json()).then(res => {
                const items = res;
                items.forEach(item => {

                    const tr = document.createElement("tr");
                    ["Start time", "Network name", "Down speed", "Up speed", "Ping", "Run time"].forEach(label => {
                        const td = document.createElement("td");
                        td.innerText = item[label];
                        tr.appendChild(td);
                    });
                    table.appendChild(tr);

                });
            });
    }

    </script>
</body>
</html>
